*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    position:absolute;
    border-radius: 20px;
    overflow: hidden;
  /*  top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
}  
#card1{
    background-color: aqua;
    z-index: 4;
}

#card2{
    rotate: -7deg;
    background-color: red;
    z-index: 3;
}
#card3{
    rotate: -14deg;
    background-color: blue;
    z-index: 2;
}
#card4{
    rotate: -21deg;
    background-color: green;
    z-index: 1;
}
img{
    height: 100%;
  width: 100%;
  object-fit: cover;

}
#card2:hover{
   z-index: 10;
}
#card3:hover{
    z-index: 10;
 }
 #card4:hover{
    z-index: 10;
 }
 